@use '../../sass/abstracts/' as *;

.container {
    padding: 3rem 0;
    @include laptop { padding: 0 0 0 1rem; };
}

.heading { @include flex(space-between, center); }

.listContainer {
    padding: 2rem 0;

    .list {
        padding: 0.5rem 0.7rem;
        margin-bottom: 1rem;
        border: $greyBorder;
        border-radius: 7px;
        position: relative;
        @include laptop {
            padding: 1rem 1.2rem;
        }

        .title { 
            font-weight: 400;
            @include laptop(){ padding-bottom: 0.5rem };
        }

        .protein {
            color: $darkGrey;
            font-size: 0.8rem;
            @include laptop(){ font-size: 1rem };
        }

        div {
            position: absolute;
            right: 0.7rem;
            top: 0.7rem;
            @include laptop(){
                right: 1rem;
                top: 1rem;
            }
            cursor: pointer;

            svg {
                fill: $darkGrey;
                height: 18px;
                width: 18px;
            }
        }
    }
}