@use '../../sass/abstracts/' as *;

.container {
    @include laptop { padding-right: 1rem; };
}

.title {
    padding-bottom: 2rem;
    text-align: center;

    @include laptop() {
        text-align: left;
    }
}