@use '../../assets/sass/abstracts/' as *;

.container {
    height: 60px;
    width: 100vw;
    background: $white;
    border-top: $greyBorder;
    @include flex($justify: flex-end, $align: center);

    p {
        color: $orange;
        padding-left: 1.5rem;
        font-weight: 400;
    }

    button {
        margin-right: 1.5rem;
        @include button();
    }
}