@use '../../../sass/abstracts/' as *;

.container {
    border: $greyBorder;
    border-radius: 7px;
}

.heading {
    @include dashboardHeading();
}

.titleContainer {
    @include flex($align: center, $justify: space-between);
    padding: 0.5rem 0;

    p { 
        color: $darkGrey;
        font-size: 0.8rem;
        font-weight: 400;
        
        @include desktop(){ font-size: 1rem; }
    };
}

.today {
    padding: 1rem 1.5rem 2rem 1.5rem;

    .proteinCalc {

        span { 
            font-size: 0.8rem;
            @include desktop(){ font-size: 1rem; }
        }

        .barContainer {
            height: 8px;
            width: 100%;
            border: $greyBorder;
            border-radius: 20px;
            overflow: hidden;
            margin-top: 0.5rem;

            @include desktop(){ margin-top: 1rem; }
        
            .bar {
                height: 8px;
                background: $orange;
                border-radius: 20px;
            }
        }
    }
}
